@import url('/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #373e4a inset !important;
  -webkit-text-fill-color: white !important;
} */

.submit-btn {
  @apply flex mx-auto text-gray-100 bg-gray-500 border-0 py-2 px-8 focus:outline-none hover:bg-gray-600 rounded-sm font-normal text-lg;
}

.btn-emerald {
  @apply inline-flex items-center bg-gray-400 border-0 py-2 px-4 m-0 focus:outline-none hover:bg-gray-500 rounded-sm font-semibold mt-4 md:mt-0 text-gray-700;
}

.btn-give {
  @apply inline-flex items-center bg-gray-300 border-0 py-2 pl-2 pr-3  mr-1 focus:outline-none hover:bg-emerald-600 rounded-sm font-bold md:mt-0 text-gray-700 uppercase text-sm;
}

.input-give {
  @apply w-full bg-gray-100 dark:text-white placeholder-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 bg-opacity-50 rounded-md text-sm border focus:ring-0 focus:outline-none dark:focus:border-emerald-500 focus:border-emerald-600 border-gray-300 focus:bg-white text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
}

.btn-gray {
  @apply inline-flex items-center bg-emerald-400 border-0 py-2 px-4 text-sm focus:outline-none hover:bg-emerald-300 rounded-sm mt-4 md:mt-0 text-white font-semibold;
}

.btn-give-item {
  @apply mb-2 bg-emerald-700 dark:bg-emerald-500 border-0 py-3 text-center text-sm focus:outline-none hover:shadow-md rounded-md mt-4 md:mt-0 text-white font-semibold w-full;
}

.btn-emerald-forms {
  @apply dark:bg-emerald-600 text-white bg-emerald-600 text-sm font-normal px-6 py-3 rounded-sm hover:bg-emerald-700 dark:hover:bg-emerald-700 shadow-sm outline-none focus:outline-none mr-1 mb-1 w-full;
}

.input-styles {
  @apply border bg-gray-100 border-gray-300 px-3 py-3 placeholder-gray-400 focus:bg-gray-100 focus:text-gray-800 text-fill-gray-900 dark:text-fill-gray-100 shadow-fill-gray-100 dark:shadow-fill-gray-900 dark:focus:bg-gray-900 text-gray-800 dark:bg-gray-900 dark:border-gray-700 dark:text-white rounded-sm text-xs focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent w-full;
}

.btn-login-register {
  @apply text-gray-900 dark:bg-gray-600 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 rounded-sm text-sm outline-none w-full px-6 py-3 bg-gray-200 border-gray-300 hover:shadow-md focus:outline-none mr-1 mb-1 border inline-flex items-center font-normal justify-center;
}
